/*		  
Olá
Este é o CSS do Site de Webdesign
Qualquer dúvida consulte :::http://www.w3.org/community/webed/wiki/CSS/Properties:::
*/

/* Normatização CSS */

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1.5;
  color: #444;
  font-size: 62.5%;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/*
Todo 'a' vem por default sublinhado, para mudar isso deve-se usar as seguintes propriedades:
text-decoration: none ==> retira o sublinhado;
text-decoration: underline ==> coloca um sublinhado;
text-decoration: overline ==> coloca um sobrelinhado;
text-decoration: underline overline ==> coloca sobre e sublinhado juntos;
text-decoration: line-through ==> coloca uma linha em cima do texto.
*/
a {
  color: #00ccff;
  font-size: 1.6em; /* 16px */
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/*
Como estilizar o comportamento do mouse
a:link estiliza o estado UP (corresponde a situação inicial do link, isto é, o aspecto do link quando a página é carregada no browser do usuário);
a:visited estiliza o estado VISITED (é o aspecto que o link assume quando o usuário passa o ponteiro do mouse sobre o link);
a:hover estiliza o estado OVER (é o aspecto do link depois que foi visitado pelo usuário);
a:active estiliza o estado link ativo (é o aspecto do link ativo, isto é, aquele que foi clicado pelo usuário.);
*/

/* Estilos principais */

.container {
  max-width: 1128px;
  margin: 0 auto;
}

img,
figure,
video,
embed {
  max-width: 100%;
}

header {
  width: 100%;
  height: 48px;
  margin-top: 3.6em; /* 36px */
  margin-bottom: 3.6em;
}

.menu {
  float: left;
  width: 20.74%; /* objetvo / contexto -> 234 / 1128 */
}

nav {
  float: right;
  width: 74.47%; /* objetvo / contexto -> 840 / 1128 */
}

nav ul {
  float: right;
}

nav li {
  font-size: 1.2em;
  display: inline-block;
  margin-left: 2em;
  margin-top: 1em;
}

nav li a {
  color: #999;
}

.banner {
  background: url("../img/banner.jpg");
  height: 450px;
  margin-bottom: 4.8em;
  position: relative;
}

.caixa {
  position: absolute;
  top: 48px;
  background: rgba(0, 0, 0, 0.6);
  width: 42.55%; /* objetvo / contexto -> 480 / 1128 */
  padding: 2.4em 1em 2.4em 4em; /* top right bottom left */
  display: center;
}
/* 
O Position não serve para diagramar a estrutura de layouts. Para isso, você utiliza a propriedade float do css. O Position vai servir para fazer coisas mais simples.
#fixed irá fixar a posição do elemento na coordenada que você definir
#relative posiciona o elemento em relação a si mesmo.
#absolute se utiliza do ponto superior esquerdo de outros elementos. Estes elementos são os parentes dele do elemento com position absolute. Mais especificamente o pai.
*/

h1 {
  font-size: 4em;
  color: #fff;
  font-weight: 200;
  margin-top: 0;
  margin-bottom: 0;
}

.destaque {
  font-size: 1.8em;
  color: #fff;
  font-weight: 200;
}

.coluna {
  width: 23.4%;
  float: left;
  margin-right: 2.13%;
}

.coluna:last-child {
  margin-right: 0;
}

.coluna p {
  text-align: justify;
  font-size: 1.6em;
}

h2 {
  font-size: 2.4em;
}

footer {
  width: 100%;
  margin-top: 2.4%;
  margin-bottom: 2.4%;
}

.footer {
  font-size: 1em;
  margin-bottom: 0;
}

@media screen and (max-width: 1128px) {
  .container {
    padding: 0 2.4em 0 2.4em;
  }
}

@media screen and (max-width: 845px) {
  .caixa {
    width: 56%;
  }
}

@media screen and (max-width: 768px) {
  .caixa {
    width: 65%;
  }

  .coluna {
    width: 48%;
    margin-bottom: 2.4em;
    margin-right: 4%;
  }

  .coluna:nth-child(even) {
    margin-right: 0;
  }

  .menu {
    width: 22%;
    margin-top: 1.2em;
  }
}

@media screen and (max-width: 718px) {
  .banner {
    float: left;
    margin: 0;
    height: 150px;
  }

  .caixa {
    position: relative;
    display: block;
    background: black;
    width: 100%;
    float: left;
    margin-top: 100px;
  }

  h1 {
    font-size: 2.5em;
  }

  section {
    margin-top: 450px;
  }
}

@media screen and (max-width: 640px) {
  nav {
    width: 100%;
  }

  nav ul {
    float: left;
    font-size: 0.8em;
  }

  li:first-child {
    margin-left: 0;
  }
}

@media screen and (max-width: 520px) {
  .coluna {
    width: 100%;
    margin-right: 0;
  }

  .banner {
    height: 120px;
  }

  .caixa {
    margin-top: 80px;
    padding: 1.2em 2em 1.2em 2em;
  }
}

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  *zoom: 1;
}
